<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout">
<head>

</head>
<body>
<div class="container body-content" layout:fragment="content">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <form method="post" action="/user/add">
                <div class="form-group">
                    <label for="userName">Email address</label>
                    <input type="text" class="form-control" id="userName" name="userName" placeholder="userName" />
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>