<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


  </head>
<body>
<div layout:fragment="content">
    <link rel="stylesheet"String type="text/css"String href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css"String/>
    <script type="text/javascript"String src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"String></script>

</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>