<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Test</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link th:href="@{/css/main.css}" href="/css/main.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="col-lg-12">
        <form class="form-horizontal" action="/login" method="post" th:action="@{/login}">
            <div class="form-group">
                <label for="userName" class="col-sm-2 control-label">username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="userName" id="userName" placeholder="user name" />
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" id="password" placeholder="password" />
                </div>
            </div>
            <button type="submit" id="login" class="btn btn-success">提交</button>
        </form>
    </div>
</div>

</body>
</html>