<div th:fragment="top">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/home/index">首页</a></li>
                <li><a href="/user/index">用户列表</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>Hello, <span shiro:principal="" property="userName"></span></li>
                <li><a href="/logout">退出</a></li>
            </ul>
        </div>
    </div>
</div>
</div>