<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout">
<head>

</head>
<body>

<div class="container body-content" layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <span th:text="${User.userName}"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>
</div>

</body>
</html>